/*Stylesheet options for task 3, 4, 5 */

h1 {
	font-weight: normal; /*5*/
}

h1, h2, th {
	font-weight: normal; /*5*/
}

h2 {
	width: 300px; /*3*/
}

table {
	width: 400px; /*3*/
	height: 200px /*3*/
}

th {
	text-align: left; /*4*/
}

td {
	text-align: center; /*4*/
	font-weight: bold; /*5*/
}


div {
	border-width: 2px;
	border-style: dotted;
	border-color: gray;
	padding: 20px
}







a:link {
	color: blue;
}

a:visited {
	color: purple;
}

a:hover {
	text-decoration: none;
}

a:active {
	color: blue;
}
